
.btn-product {
    width: 100%;
}

.price{
float:left;
padding-left:20px;
}
.ourProduct{
float:right;
margin-right:20px;
}
.container {
    margin-top: 10px;
    margin-bottom: -2%;
    padding-top:40px;
}


.clear {
    clear: both;
}
.mySubmit{
margin-right:16px;

}

.name {
	font-size: 25px;
}
